.jumbotron-hero {
  /* Choisis la hauteur ici */
  height: 400px;

  /* Tu lui donnes une image de background */
  background-image: url("https://cdn.pixabay.com/photo/2017/08/07/10/08/horizon-2602227_1280.jpg");
  
  /* Centre l'image et la met bien sur tous les écrans */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




